
#month{
	font-size: 20px;
}
.cal table {
	margin: 0 auto;
	border-spacing: 0px;

}

.cal th { 
	width: 100px;
    border: 2px solid black;
}

.cal td {
	border:1px solid #686868;
	width:100px;
	height:100px;
}

#eventwindow {
	width: 300px;
	height: 200px;
	z-index: 3;
	background-color: #fff;
	border: 2px solid black;
	border-radius: 2px;
	position: absolute;
	top: 20%;
	left: 37.75%;
}

#add-more {
	color: #fff;
}

#today{
	color: white;
	background-color: blue;
}
#today button{
	color: blue;

}

#today #add-more{
	color: blue;
	background-color: blue;
}